
<div class ="scoreword">
  <% if @wordscore.class == Fixnum %>
    <h2>
    <% @word.chars.each do |letter| %>
       <div class ='tile'><span class = "letter"><%= letter %></span>  <span class = 'score'><%= Scrabble::Scoring.letter_value(letter) %></span></div>
    <%end%>
    = <%= @wordscore %> points
   </h2>

  <% elsif @wordscore == "No" %>
  <h2> Try again with a real word, please.</h2>

  <% elsif @wordscore == "Grrr is not a word, no" %>
  <h2> Grrr is not a word.</h2>
  <% end %>


  <div class ="scoreform">
    <form action="/score" method="post" accept-charset="utf-8">
      <label for="word">Scrabble Word</label>
      <input type="text" name="word" value="" id="word">

      <input class = "button" type="submit" value="Score Word">
    </form>
  </div>
</div>

<!--
<div class ="params">
<%= params %>
</div> -->
