html {
  background-image: url("../images/scrabble-tiles.jpg");
  font-family:Century Gothic;
}

body {
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: cornflowerblue;
  border: 4px outset navy;
}

main {
  height: 480px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color:blue;
}

a:hover {
  text-shadow: 2px 2px 2px white;
}

header {
  background-color: lightblue;
  text-align: center;
  width:100%;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-style: italic;
  margin: 1rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h2 {
  /*border: 2px solid green;*/
  font-size: 2rem;
}

aside {
  float:left;
}

img {
  border: 10px solid navy;
  height: 300px;
  margin: 4%;
}

div.cartoon {
  border: 2px solid blue;

}

input.button {
  background-color: navy;
  color:white;
  font-size: 1.4rem;
}

div.scoreform {
  margin-top: 5%;
}

div.scoreword {
  display:inline-block;
  margin-left: 5%;
}

div.links {
  /*background-color: white;*/
  /*border: 3px solid purple;*/
  display:inline-block;
  margin: 2%;
}

div.manywords {
  float:left;
  margin-left: 5%;
}

label {
  font-size: 2rem;
}

input{
  font-size: 1rem;
}

span {
  color: lightblue;
}

footer {
  display: inline-block;
  width: 100%;
  background-color: gray;
}


footer a {
  width: 49%;
  background-color: gray;
  display:inline-block;
  text-align:center;
}

footer a:link, footer a:visited{
  font-size: 2rem;
  color:white;
}

footer a:hover {
  text-shadow: 1.5px 1.5px 1.5px blue;
}

.bonus label {
  background-color:gray;
  border-radius: 5%;
  display:inline-block;
  padding: .25rem .5rem;
  margin: .25rem;
  text-align: center;
  font-size: 1rem;
}

legend {
  font-size: 1rem;
}

fieldset.bonus {
  margin-top: 1.5rem;
}

div.small {
  font-size: 1rem;
  color: navy;
}
